*{
    margin: 0;
    padding: 0;
    font-family:"Kdam Thmor Pro", sans-serif;
    box-sizing:border-box;
}

body{
    background-image: url(./images/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

header, footer{
    background-color: #0091f885;
    padding-top: 16px;
    color: #bbd5f3;
}

nav ul{
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

ul a{
text-decoration: none;
color: #bbd5f3;
}


.container-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

form input, form button, form label {
    align-items: center;
    font-size: 20px;
    display: block;
    width: 320px;
    padding: 8px;
    box-sizing: border-box; 
}

form button {
    background-color: #182c61;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
    margin-top: 8px;
}

form label {
    color: white;
}

.form-campo {
    background: transparent;
    backdrop-filter: blur(10px);
    min-height: 690px; 
    width: 100%; /* Ou ajuste conforme necessário */
    border: 1px solid gray;
    border-radius: 8px;
    margin-top: 50px;
    padding: 15px; 
    box-sizing: border-box;
}

footer {
    margin-top: 180px;
}

.social img {
    height: 50px;
    justify-content: space-around;
    cursor: pointer;
}

